In [20]:
import pandas as pd

In [21]:
mcc_parquet = 'data/mcc.parquet'
sales_parquet = 'data/sales.parquet'

In [22]:
df_mcc = pd.read_parquet(mcc_parquet, engine='pyarrow')

In [23]:
df_mcc.head()

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes

In [24]:
# Visualização do dataset de vendas por document_id, estado e data/hora
df_sales = pd.read_parquet(sales_parquet, engine='pyarrow')

In [25]:
df_sales.head()

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,,Pix,5499,RN

In [26]:
# Pegando só o document_id e mcc
document_id_mcc = df_sales[['document_id', 'mcc', 'state']]

In [27]:
# Carregamento do dataset de MCC / Descrição de estabelecimentos com base no MCC
mcc_description = df_mcc[['mcc', 'irs_description']]

In [28]:
# Visualização de todos os irs_descriptions
comercial_descriptions = mcc_description['irs_description'].unique()
comercial_descriptions

array(['Veterinary Services', 'Agricultural Cooperative',
       'Landscaping Services', 'General Contractors',
       'Heating, Plumbing, A/C', 'Electrical Contractors',
       'Masonry, Stonework, and Plaster', 'Carpentry Contractors',
       'Roofing/Siding, Sheet Metal', 'Concrete Work Contractors',
       'Special Trade Contractors',
       'Miscellaneous Publishing and Printing',
       'Typesetting, Plate Making, and Related Services',
       'Specialty Cleaning', 'Airlines', 'Car Rental',
       'Hotels/Motels/Inns/Resorts', None, 'Railroads',
       'Commuter Transport, Ferries', 'Passenger Railways',
       'Ambulance Services', 'Taxicabs/Limousines', 'Bus Lines',
       'Motor Freight Carriers and Trucking - Local and Long Distance, Moving and Storage Companies, and Local Delivery Services ',
       'Courier Services ',
       'Public Warehousing and Storage - Farm Products, Refrigerated Goods, Household Goods, and Storage ',
       'Cruise Lines', 'Boat Rentals and Leases',
       'Marinas, Service and Supplies', 'Airlines, Air Carriers',
       'Airports, Flying Fields', 'Travel Agencies, Tour Operators',
       'TUI Travel - Germany', 'Tolls/Bridge Fees',
       'Transportation Services (Not Elsewhere Classified)',
       'Telecommunication Equipment and Telephone Sales',
       'Telecommunication Services', 'Computer Network Services',
       'Telegraph Services', 'Wires, Money Orders',
       'Cable, Satellite, and Other Pay Television and Radio',
       'Utilities ', 'Motor Vehicle Supplies and New Parts',
       'Office and Commercial Furniture',
       'Construction Materials (Not Elsewhere Classified)',
       'Photographic, Photocopy, Microfilm Equipment, and Supplies',
       'Computers, Peripherals, and Software',
       'Commercial Equipment (Not Elsewhere Classified)',
       'Medical, Dental, Ophthalmic, and Hospital Equipment and Supplies',
       'Metal Service Centers', 'Electrical Parts and Equipment',
       'Hardware, Equipment, and Supplies',
       'Plumbing, Heating Equipment, and Supplies',
       'Industrial Supplies (Not Elsewhere Classified)',
       'Precious Stones and Metals, Watches and Jewelry',
       'Durable Goods (Not Elsewhere Classified)',
       'Stationary, Office Supplies, Printing and Writing Paper',
       'Drugs, Drug Proprietaries, and Druggist Sundries',
       'Piece Goods, Notions, and Other Dry Goods',
       'Uniforms, Commercial Clothing', 'Commercial Footwear',
       'Chemicals and Allied Products (Not Elsewhere Classified)',
       'Petroleum and Petroleum Products',
       'Books, Periodicals, and Newspapers',
       'Florists Supplies, Nursery Stock, and Flowers',
       'Paints, Varnishes, and Supplies',
       'Nondurable Goods (Not Elsewhere Classified)',
       'Home Supply Warehouse Stores',
       'Lumber, Building Materials Stores',
       'Glass, Paint, and Wallpaper Stores', 'Hardware Stores',
       'Nurseries, Lawn and Garden Supply Stores', 'Mobile Home Dealers',
       'Wholesale Clubs', 'Duty Free Stores', 'Discount Stores',
       'Department Stores', 'Variety Stores',
       'Miscellaneous General Merchandise',
       'Grocery Stores, Supermarkets',
       'Freezer and Locker Meat Provisioners',
       'Candy, Nut, and Confectionery Stores', 'Dairy Products Stores',
       'Bakeries',
       'Miscellaneous Food Stores - Convenience Stores and Specialty Markets',
       'Car and Truck Dealers (New & Used) Sales, Service, Repairs Parts and Leasing ',
       'Car and Truck Dealers (Used Only) Sales, Service, Repairs Parts and Leasing ',
       'Auto and Home Supply Stores', 'Automotive Tire Stores',
       'Automotive Parts and Accessories Stores', 'Service Stations ',
       'Automated Fuel Dispensers', 'Boat Dealers',
       'Motorcycle Shops, Dealers', 'Motorcycle Shops and Dealers',
       'Motor Homes Dealers', 'Snowmobile Dealers',
       'Miscellaneous Auto Dealers ',
       'Men’s and Boy’s Clothing and Accessories Stores',
       'Women’s Ready-To-Wear Stores',
       'Women’s Accessory and Specialty Shops',
       'Children’s and Infant’s Wear Stores', 'Family Clothing Stores',
       'Sports and Riding Apparel Stores', 'Shoe Stores',
       'Furriers and Fur Shops', 'Men’s, Women’s Clothing Stores',
       'Tailors, Alterations', 'Wig and Toupee Stores',
       'Miscellaneous Apparel and Accessory Shops',
       'Furniture, Home Furnishings, and Equipment Stores, Except Appliances',
       'Floor Covering Stores',
       'Drapery, Window Covering, and Upholstery Stores',
       'Fireplace, Fireplace Screens, and Accessories Stores',
       'Miscellaneous Home Furnishing Specialty Stores',
       'Household Appliance Stores', 'Electronics Stores',
       'Music Stores-Musical Instruments, Pianos, and Sheet Music',
       'Computer Software Stores', 'Record Stores', 'Caterers',
       'Eating Places, Restaurants', 'Drinking Places',
       'Fast Food Restaurants', 'Drug Stores and Pharmacies',
       'Package Stores-Beer, Wine, and Liquor',
       'Used Merchandise and Secondhand Stores', 'Antique Shops',
       'Pawn Shops', 'Wrecking and Salvage Yards',
       'Antique Reproductions', 'Bicycle Shops', 'Sporting Goods Stores',
       'Book Stores',
       'Stationery Stores, Office, and School Supply Stores',
       'Jewelry Stores, Watches, Clocks, and Silverware Stores',
       'Hobby, Toy, and Game Shops',
       'Camera and Photographic Supply Stores',
       'Gift, Card, Novelty, and Souvenir Shops',
       'Luggage and Leather Goods Stores',
       'Sewing, Needlework, Fabric, and Piece Goods Stores',
       'Glassware, Crystal Stores',
       'Direct Marketing - Insurance Services',
       'Direct Marketing - Travel', 'Door-To-Door Sales',
       'Direct Marketing - Catalog Merchant',
       'Direct Marketing - Combination Catalog and Retail Merchant',
       'Direct Marketing - Outbound Tele',
       'Direct Marketing - Inbound Tele',
       'Direct Marketing - Subscription', 'Direct Marketing - Other ',
       'Artist’s Supply and Craft Shops', 'Art Dealers and Galleries',
       'Stamp and Coin Stores', 'Religious Goods Stores',
       'Hearing Aids Sales and Supplies',
       'Orthopedic Goods - Prosthetic Devices', 'Cosmetic Stores',
       'Typewriter Stores', 'Fuel Dealers (Non Automotive)', 'Florists',
       'Cigar Stores and Stands', 'News Dealers and Newsstands',
       'Pet Shops, Pet Food, and Supplies', 'Swimming Pools Sales',
       'Electric Razor Stores', 'Tent and Awning Shops',
       'Miscellaneous Specialty Retail', 'Manual Cash Disburse',
       'Automated Cash Disburse', 'Financial Institutions',
       'Non-FI, Money Orders', 'Security Brokers/Dealers',
       'Insurance Underwriting, Premiums', 'Insurance - Default',
       'Real Estate Agents and Managers - Rentals',
       'Hotels, Motels, and Resorts', 'Timeshares',
       'Sporting/Recreation Camps', 'Trailer Parks, Campgrounds',
       'Laundry, Cleaning Services', 'Laundries ', 'Dry Cleaners',
       'Carpet/Upholstery Cleaning', 'Photographic Studios',
       'Barber and Beauty Shops', 'Shoe Repair/Hat Cleaning',
       'Funeral Services, Crematories', 'Dating/Escort Services',
       'Tax Preparation Services', 'Counseling Services',
       'Buying/Shopping Services', 'Clothing Rental ', 'Massage Parlors',
       'Health and Beauty Spas', 'Miscellaneous General Services',
       'Advertising Services', 'Credit Reporting Agencies',
       'Commercial Photography, Art and Graphics',
       'Quick Copy, Repro, and Blueprint', 'Secretarial Support Services',
       'Exterminating Services', 'Cleaning and Maintenance',
       'Employment/Temp Agencies', 'Computer Programming',
       'Information Retrieval Services', 'Computer Repair',
       'Consulting, Public Relations', 'Detective Agencies',
       'Equipment Rental ', 'Photo Developing',
       'Miscellaneous Business Services ', 'Truck Stop',
       'Car Rental Agencies', 'Truck/Utility Trailer Rentals',
       'Recreational Vehicle Rentals', 'Parking Lots, Garages',
       'Auto Body Repair Shops', 'Tire Retreading and Repair',
       'Auto Paint Shops', 'Auto Service Shops', 'Car Washes',
       'Towing Services', 'Electronics Repair Shops',
       'A/C, Refrigeration Repair', 'Small Appliance Repair',
       'Watch/Jewelry Repair', 'Furniture Repair, Refinishing',
       'Welding Repair', 'Miscellaneous Repair Shops',
       'Picture/Video Production', 'Motion Picture Theaters',
       'Video Tape Rental Stores', 'Dance Hall, Studios, Schools',
       'Theatrical Ticket Agencies', 'Bands, Orchestras',
       'Billiard/Pool Establishments', 'Bowling Alleys',
       'Sports Clubs/Fields', 'Tourist Attractions and Exhibits',
       'Golf Courses - Public', 'Video Amusement Game Supplies',
       'Video Game Arcades', 'Betting/Casino Gambling',
       'Amusement Parks/Carnivals', 'Country Clubs', 'Aquariums',
       'Miscellaneous Recreation Services', 'Doctors',
       'Dentists, Orthodontists', 'Osteopaths', 'Chiropractors',
       'Optometrists, Ophthalmologist', 'Opticians, Eyeglasses',
       'Chiropodists, Podiatrists', 'Nursing/Personal Care ', 'Hospitals',
       'Medical and Dental Labs', 'Medical Services ',
       'Legal Services, Attorneys', 'Elementary, Secondary Schools',
       'Colleges, Universities', 'Correspondence Schools',
       'Business/Secretarial Schools', 'Vocational/Trade Schools',
       'Educational Services ', 'Child Care Services',
       'Charitable and Social Service Organizations - Fundraising',
       'Civic, Social, Fraternal Associations', 'Political Organizations',
       'Religious Organizations', 'Automobile Associations',
       'Membership Organizations', 'Testing Laboratories',
       'Architectural/Surveying Services',
       'Accounting/Bookkeeping Services', 'Professional Services',
       'Court Costs, Including Alimony and Child Support - Courts of Law',
       'Fines - Government Administrative Entities',
       'Bail and Bond Payments (payment to the surety for the bond, not the actual bond paid to the government agency) ',
       'Tax Payments - Government Agencies',
       'Government Services (Not Elsewhere Classified)',
       'Postal Services - Government Only',
       'U.S. Federal Government Agencies or Departments',
       'Intra-Company Purchases'], dtype=object)

In [29]:
supermakets_mcc = mcc_description[mcc_description['irs_description'] == 'Grocery Stores, Supermarkets']
supermakets_mcc.head()

      mcc               irs_description
760  5411  Grocery Stores, Supermarkets

In [30]:
df_sales = pd.read_parquet(sales_parquet, engine='pyarrow')

In [31]:
# Criação de dataset de vendas por tipos de estabelecimentos
sales_per_mcc_description = pd.merge(df_sales, supermakets_mcc, on='mcc', how='inner')

In [32]:
sales_per_mcc_description.head()

,document_id,date_time,value,card_number,type,mcc,state,irs_description
0,5695527918944804612,2023-03-17 16:47:24.959200,280.0,,Pix,5411,SC,"Grocery Stores, Supermarkets"
1,5695527918944804612,2023-01-30 18:16:19.936400,68.0,,Pix,5411,SC,"Grocery Stores, Supermarkets"
2,5695527918944804612,2023-02-11 18:22:41.237300,287.2,,Pix,5411,SC,"Grocery Stores, Supermarkets"
3,5695527918944804612,2023-04-01 21:23:36.940000,440.0,,Pix,5411,SC,"Grocery Stores, Supermarkets"
4,5695527918944804612,2022-12-11 19:22:35.025400,132.0,,Pix,5411,SC,"Grocery Stores, Supermarkets"

In [33]:
all_document_ids = sales_per_mcc_description['document_id'].unique()

In [34]:
all_document_ids

array([5695527918944804612, 9202060645083883366, 7523807556076637323,
       4574000117844462501, 1690472938955678638, 5564683868409713852])

### Criação de dataset com dados mockados

In [35]:
import numpy as np
from datetime import datetime

In [36]:
items = ['Maçã', 'Banana', 'Leite', 'Pão', 'Arroz', 'Feijão', 'Café', 'Sabonete']

In [37]:
# Função para calcular o preço total
def calculate_price(row):
    return item_prices[row['item']] * row['qtd']

In [38]:
df_mocked = pd.DataFrame({'document_id': np.random.choice(all_document_ids, size=10000, replace=True)})
df_mocked['irs_description'] = 'Grocery Stores, Supermarkets'
df_mocked['item'] = np.random.choice(items, size=len(df_mocked))
df_mocked['qtd'] = np.random.randint(1, 12, size=len(df_mocked))

In [39]:
item_prices = {'Maçã': 1.20, 'Banana': 0.80, 'Leite': 4.28, 'Pão': 0.60, 'Arroz': 21.0, 'Feijão': 12.0, 'Café': 15.70, 'Sabonete': 3.20}
# Adicionar a coluna de preço
df_mocked['price'] = df_mocked.apply(calculate_price, axis=1)

In [40]:
# Gerando datas aleatórias entre 2022 e 2023
start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 12, 31)
time_delta = end_date - start_date
df_mocked['data'] = start_date + time_delta * np.random.rand(len(df_mocked))

df_mocked['dia'] = df_mocked['data'].dt.day
df_mocked['mes'] = df_mocked['data'].dt.month
df_mocked['ano'] = df_mocked['data'].dt.year
df_mocked['hora'] = df_mocked['data'].dt.hour
df_mocked['document_id'] = df_mocked['document_id'].astype(str)

In [41]:
df_mocked.head()

,document_id,irs_description,item,qtd,price,data,dia,mes,ano,hora
0,1690472938955678638,"Grocery Stores, Supermarkets",Maçã,7,8.4,2022-11-28 11:51:16.776456,28,11,2022,11
1,9202060645083883366,"Grocery Stores, Supermarkets",Arroz,4,84.0,2022-02-25 02:25:32.384556,25,2,2022,2
2,9202060645083883366,"Grocery Stores, Supermarkets",Leite,5,21.4,2023-09-10 18:30:27.489020,10,9,2023,18
3,9202060645083883366,"Grocery Stores, Supermarkets",Pão,5,3.0,2022-06-02 06:52:19.409245,2,6,2022,6
4,7523807556076637323,"Grocery Stores, Supermarkets",Pão,3,1.8,2022-11-17 07:00:53.225760,17,11,2022,7

In [42]:
df_mocked.to_parquet('mocked_sale_items.parquet', index=False)