In [58]:
import pandas as pd

In [59]:
sales_parquet = 'data/sales.parquet'
mocked_sales_items_dataset = 'data/mocked_sale_items.parquet'
mcc_parquet = 'data/mcc.parquet'

In [60]:
df_sales = pd.read_parquet(sales_parquet, engine='pyarrow')

In [86]:
df_sales.head(100)

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.0,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.0,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.0,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.0,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.0,,Pix,5499,RN
...,...,...,...,...,...,...,...
999,9132021237731236867,2022-12-09 03:20:36.122400,72.0,6049682268197625856,Débito,5499,RN
1000,9132021237731236867,2022-12-08 03:10:59.259700,48.0,6695636577281785856,Débito,5499,RN
1001,9132021237731236867,2022-12-29 01:45:43.328800,168.0,8921523527530512384,Débito,5499,RN
1002,9132021237731236867,2022-12-02 00:40:50.385800,48.0,,Débito,5499,RN
1003,9132021237731236867,2022-12-08 01:09:53.352800,72.0,6894293368532573184,Débito,5499,RN

In [62]:
df_mocked_sales_items_dataset= pd.read_parquet(mocked_sales_items_dataset, engine='pyarrow')

In [72]:
df_mocked_sales_items_dataset.head()

,document_id,irs_description,item,qtd,price,data,dia,mes,ano,hora
0,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.80,2022-03-28 16:52:00.362733,28,3,2022,16
1,5695527918944804612,"Grocery Stores, Supermarkets",Banana,7,5.60,2023-03-22 02:10:15.941144,22,3,2023,2
2,1690472938955678638,"Grocery Stores, Supermarkets",Sabonete,10,32.00,2022-01-06 12:22:29.270522,6,1,2022,12
3,1690472938955678638,"Grocery Stores, Supermarkets",Leite,6,25.68,2022-04-07 14:00:31.666451,7,4,2022,14
4,1690472938955678638,"Grocery Stores, Supermarkets",Pão,8,4.80,2023-09-24 04:59:53.970670,24,9,2023,4

In [64]:
df_mcc = pd.read_parquet(mcc_parquet, engine='pyarrow')

In [65]:
df_mcc.head()

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes

In [66]:
document_id_n_mcc = df_sales[['mcc', 'document_id', 'state']]

In [84]:
document_id_n_mcc.head(100)

      mcc          document_id state
0    5499  9132021237731236867    RN
1    5499  9132021237731236867    RN
2    5499  9132021237731236867    RN
3    5499  9132021237731236867    RN
4    5499  9132021237731236867    RN
..    ...                  ...   ...
97   5499  9132021237731236867    RN
98   5499  9132021237731236867    RN
100  5499  9132021237731236867    RN
101  5499  9132021237731236867    RN
102  5499  9132021237731236867    RN

[100 rows x 3 columns]

In [73]:
sold_items_by_shop = pd.merge(df_mocked_sales_items_dataset, document_id_n_mcc, on='document_id', how='left')

In [74]:
sold_items_by_shop.head(50)

,document_id,irs_description,item,qtd,price,data,dia,mes,ano,hora,mcc,state
0,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
1,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
2,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
3,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
4,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
5,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
6,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
7,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
8,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
9,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
10,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
11,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
12,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
13,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
14,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
15,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
16,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
17,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
18,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
19,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
20,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
21,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
22,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
23,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
24,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
25,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
26,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
27,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
28,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
29,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
30,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
31,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
32,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
33,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
34,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
35,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
36,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
37,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
38,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
39,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
40,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
41,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
42,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
43,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
44,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
45,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
46,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
47,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
48,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP
49,5564683868409713852,"Grocery Stores, Supermarkets",Café,4,62.8,2022-03-28 16:52:00.362733,28,3,2022,16,5411,SP

In [ ]:

sold_items_by_shop.to_csv('mocked_sold_items.csv', index=False)